altair==4.1.0
astor==0.8.1
base58==2.1.0
blinker==1.4
cachetools==4.2.2
click==7.1.2
cloudinary==1.26.0
dnspython==2.1.0
Flask==2.0.1
Flask-PyMongo==2.3.0
ipywidgets==7.6.3
itsdangerous==2.0.1
Jinja2==3.0.1
jupyterlab-widgets==1.0.0
MarkupSafe==2.0.1
numpy==1.21.0
pandas==1.2.5
Pillow==8.3.0
protobuf==3.17.3
pyarrow==4.0.1
pydeck==0.6.2
pymongo==3.11.4
pytz==2021.1
streamlit==0.83.0
toolz==0.11.1
tzlocal==2.1
validators==0.18.2
watchdog==2.1.3
Werkzeug==2.0.1
widgetsnbextension==3.5.1
