@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

h1,
h2,
h3 {
    font-family: 'Fira Sans', sans-serif;
}

hr {
    width: 50%;
    height: 0.5px;
    background: black;
    margin-bottom: 2.5rem;
}

.col {
    margin: 0;
    padding: 0;
}

.content-alignment {
    display: flex;
    justify-content: center;
    align-content: center;
}

form legend {
    font-size: 3em;
    font-weight: 700;
}

form label {
    font-weight: 600;
}

.flashes {
    background-color: #b6f8ff;
}

.img-centered {
    object-fit: cover;
    object-position: center;
}

.content-wrapper {
    min-height: 100vh;
}

.alertValidation {
    border-color: red;
}

.previewImages,
.previewCurrentImages {
    background-color: #ededed;
    height: 100%;
    margin: 1rem 1rem;
    border-radius: 5%;
}

.previewImages img,
.previewCurrentImages img {
    margin: 0.5rem;
}

.previewImages .previewPicture,
.previewCurrentImages .previewPictureEdit {
    width: 20%;
    height: 15vh;
    padding: 0 0.5rem;
    margin-top: 0.8rem;
    display: block;
    float: left;
}

.form-row {
    overflow: hidden;
}

textarea {
    resize: none;
}

/* Shake effect got from w3schools */
.shakeEffect:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(0.5px, 0.5px) rotate(0deg);
    }

    10% {
        transform: translate(-0.5px, -1px) rotate(-1deg);
    }

    20% {
        transform: translate(-1.5px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(1.5px, 1px) rotate(0deg);
    }

    40% {
        transform: translate(0.5px, -0.5px) rotate(1deg);
    }

    50% {
        transform: translate(-0.5px, 1px) rotate(-1deg);
    }

    60% {
        transform: translate(-1.5px, 0.5px) rotate(0deg);
    }

    70% {
        transform: translate(1.5px, 0.5px) rotate(-1deg);
    }

    80% {
        transform: translate(-0.5px, -0.5px) rotate(1deg);
    }

    90% {
        transform: translate(0.5px, 1px) rotate(0deg);
    }

    100% {
        transform: translate(0.5px, -1px) rotate(-1deg);
    }
}

.shadowEffect:hover {
    filter: drop-shadow(3px 6px 9px rgb(0, 114, 114));
}

/* Notifications */
.notifContainer {
    background-color: #b6f8ff;
    overflow: hidden;
    border: 1px solid #888;
    border-radius: 3%;
    margin-bottom: 0.5rem;
    height: auto;
}

.requestText {
    margin: 0.5rem 0.5rem 0 0.5rem;
}

.requestBtn {
    margin-bottom: 0.5rem;
}

/* Pagination */
/* Pagination links */
.paginationTop {
    margin-top: 1rem;
}

.paginationBottom {
    margin: 0.5rem 0 1rem 0;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    overflow-wrap: break-word;
}

/* Style the active/current link */
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
    background-color: #ddd;
}

/* Navbar */

nav {
    border-bottom: 1px solid rgb(0, 155, 155);
    background-color: rgb(1, 95, 95);
}


#logo {
    height: 8vh;
}

#profileLinkPic {
    height: 8vh;
    margin-left: 0.5rem;
    border-radius: 100%;
}

#profileLinkPic:hover {
    filter: drop-shadow(3px 6px 9px rgb(0, 155, 155));
}

.nav-item {
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 0.5px;
    color: rgb(0, 155, 155);
    font-family: 'Fira Sans', sans-serif;
}

a.navSmFont {
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    letter-spacing: 0.5px;
    color: rgb(0, 155, 155);
    font-family: 'Fira Sans', sans-serif;
}

a.navSmFont:hover {
    color: #fff;
}

.nav-item i,
.nav-item a {
    color: rgb(0, 155, 155) !important;
    line-height: 42px;
}

.nav-item i:hover,
.nav-item a:hover {
    color: #fff !important;
}

.activeItem a,
.activeItem i {
    color: #fff !important;
}

.requestBtn a {
    color: #fff !important;
    line-height: 1.5;
}

/* Landpage */
.landCover {
    margin-top: 2rem;
}

.landTitle {
    margin-top: 1.2rem;
}

.cardLandPage {
    background-color: #b6f8ff;
    width: 50vw;
    height: 100%;
    border-radius: 2%;
    margin-bottom: 2rem;
}

.cardLandPage h2 {
    margin-top: 1rem;
}

.cardLandPage p {
    font-weight: 500;
}

.signUpBtn {
    margin-bottom: 1.5rem;
    font-weight: 700;
}

/* Sign Up and LogIn page */

.card {
    background-color: #b6f8ff;
    width: 50vw;
    height: 100%;
    margin: 2.3rem 0;
}

.registerBtn {
    margin: 1rem 0;
}

.logOutBottomText a,
.logInBottomText a {
    text-decoration: none;
}

.logOutBottomText p,
.logInBottomText p {
    font-weight: 600;
}

#loginForm {
    margin: 5rem 0;
}

/* Footer */
footer {
    height: 5vh;
    border-top: 1px solid rgb(0, 155, 155);
    background-color: rgb(1, 95, 95);
}

#copyright {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 800;
    font-size: 1.2em;
    color: #fff;
}

/* Profile Page */

.profilePics {
    position: relative;
    top: 0;
    left: 0;
}

.profileCover {
    width: 100%;
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
}

#profilePic {
    height: 40vh;
    border-radius: 100%;
    border: 1px solid #000;
    position: absolute;
    top: 30px;
    left: 500px;
}

.profileName {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ededed;
    border-radius: 5%;
    padding: 0 0.2rem;
    margin: 0;
}

.profileNav {
    height: 6vh;
    background-color: #b6f8ff;
    margin-bottom: 2rem;
}

.profileNav .nav-item {
    margin-left: 5rem;
}

.searchInput {
    width: 100%;
    margin-left: 0.5rem;
}

.profileSearchForm {
    margin: 0 auto;
}

.searchProfileButtons {
    margin-left: 0.7rem;
}

.addTripBtn {
    margin-top: 2rem;
}

.feedProfile {
    background-color: #ededed;
    border-radius: 5%;
    margin: 0.5rem 0;
    height: 100%;
}

.profileNavItem,
.addTripBtn {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tripFormBtn {
    margin-left: 1rem;
}

.tripPostLink {
    height: 40vh;
    border-radius: 2%;
    margin: 0.5rem 0;
}

.tripPostLink a {
    height: 100%;
    text-decoration: none;
    color: #000;
}

.postLinkProfilePic {
    height: 10vh;
    border: 1px solid #000;
    border-radius: 100%;
    margin: 0.5rem;
}

#totalDays {
    margin-right: 1rem;
}

.postStatistic {
    font-size: 1.5em;
    color: #000;
}

.postLikes {
    margin-top: 1.5rem;
    font-size: 1.5em;
    color: #000;
}

.like {
    border: none;
    background-color: transparent;
    padding: 0;
}

.postBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #b6f8ff;
    border-radius: 5%;
    opacity: 0.7;
}

.postNameDate {
    font-weight: 700;
}

.deleteTrip,
.editTrip {
    margin: auto 0;
    font-size: 1.5em;
}

.deletePost {
    cursor: pointer;
}

.deleteBtnModal a {
    color: #fff;
    font-weight: 600;
}

/* Edit Profile page */

.currentProfilePic {
    width: 8vw;
    height: 15vh;
    margin-top: 0.3rem;
    border: 1px solid #000;
    border-radius: 100%;
}

.currentCoverPic {
    width: 8vw;
    height: 10vh;
    margin-top: 0.3rem;
    border: 1px solid #000;
}

.newProfile,
.newCover {
    margin-top: 1rem;
}

.newCover {
    margin-bottom: 1rem;
}

/* Public Profile */
#followBtn,
#unFollowBtn {
    margin-top: 1rem;
}

#followBtn:hover,
#unFollowBtn:hover {
    color: #fff;
}

/* Edit trip page */

.edit_trip_wrapper {
    background-color: #b6f8ff;
    padding: 1rem !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5%;
}

.edit_buttons {
    margin-bottom: 1rem;
}

.delEditImg {
    cursor: pointer;
}

.currentPhotos {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Trip */

.tripWrapper {
    background-color: #b6f8ff;
    height: auto;
    margin: 1rem 0;
    border-radius: 3%;
}

div#map {
    min-height: 50vh;
}

.tripDate {
    font-weight: 600;
    font-size: 1.2em;
}

.descText {
    width: 80%;
    background-color: #ededed;
    padding: 1rem;
    border-radius: 3%;
}

.tripPhotos {
    background-color: #ededed;
    margin: 0.5rem 0;
    border-radius: 3%;
}

.tripPhoto {
    width: 95%;
    height: 25vh;
    cursor: pointer;
    margin: 0.5rem 0;
}

.tripPhotoView {
    max-width: 100%;
    height: auto;
}

/* Media Queries */
/* Width */

@media screen and (min-width: 1600px) {
    .content-wrapper {
        min-height: 10vh;
    }

    a.navSmFont {
        font-size: 2em;
    }

    .landCover {
        margin-top: 5rem;
    }

    .cardLandPage {
        width: 80vw;
        margin-bottom: 4rem;
    }

    .signUpCard {
        margin: 9rem 0;
    }

    .card {
        width: 90vw;
        margin-left: 0;
        margin-right: 0;
    }

    #profilePic {
        left: 600px;
    }

    .searchProfileButtons {
        margin-left: 0.9rem;
    }

    .currentProfilePic {
        width: 10vw;
    }

    .currentCoverPic {
        width: 10vw;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1599px) {
    .content-wrapper {
        min-height: 85vh;
    }

    .signUpCard {
        margin: 4rem 0;
    }

    .loginCard {
        margin: 5rem 0;
    }

    #profilePic {
        left: 500px;
    }

    .searchProfileButtons {
        margin-left: 0.9rem;
    }

    .currentProfilePic {
        height: 10vh;
    }

    .currentCoverPic {
        height: 6.5vh;
    }

    .previewImages .previewPicture,
    .previewCurrentImages .previewPictureEdit {
        width: 30%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .content-wrapper {
        min-height: 85vh;
    }

    .signUpCard {
        margin: 4rem;
    }

    .loginCard {
        margin: 5rem 0;
    }

    #profilePic {
        left: 350px;
    }

    .searchProfileButtons {
        margin-left: 0.9rem;
    }

    .currentProfilePic {
        height: 10.5vh;
    }

    .currentCoverPic {
        height: 7vh;
    }

    .previewImages .previewPicture,
    .previewCurrentImages .previewPictureEdit {
        width: 30%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    a.navSmFont {
        font-size: 2em;
    }

    .landCover {
        margin-top: 5rem;
    }

    .cardLandPage {
        width: 80vw;
    }

    .signUpCard {
        margin: 4rem;
    }

    .card {
        width: 80vw;
    }

    .loginCard {
        margin: 5rem 0;
    }

    #profilePic {
        left: 200px;
    }

    .profileNav .nav-item {
        margin-left: 2.5rem;
    }

    .searchProfileButtons {
        margin-left: 0.9rem;
    }

    .currentProfilePic {
        width: 15vw;
        height: 15vh;
    }

    .currentCoverPic {
        width: 20vw;
        height: 15vh;
    }

    .previewImages .previewPicture,
    .previewCurrentImages .previewPictureEdit {
        width: 30%;
    }
}

@media screen and (min-width: 425px) and (max-width: 759px) {
    a.navSmFont {
        font-size: 2em;
    }

    .landTitle img {
        width: 90vw;
    }

    .cardLandPage {
        width: 90vw;
    }

    .signUpCard {
        margin: 4rem;
    }

    .card {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }

    .loginCard {
        margin: 5rem 0;
    }

    #profilePic {
        height: 30vh;
        top: 80px;
        left: 120px;
    }

    .profileNav .nav-item {
        margin-left: 1.5rem;
        font-size: 1em;
    }

    .postNameDate h1 {
        font-size: 1.5em;
    }

    .modal-content {
        width: 100%;
    }

    .searchProfileButtons {
        margin: 0.5rem 0.7rem;
    }

    .currentProfilePic {
        width: 20vw;
        height: 15vh;
    }

    .currentCoverPic {
        width: 25vw;
        height: 15vh;
    }

    .previewImages .previewPicture,
    .previewCurrentImages .previewPictureEdit {
        width: 28%;
    }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
    #logo {
        height: 7vh;
    }

    a.navSmFont {
        font-size: 2em;
    }

    .landTitle img,
    .landCover img {
        width: 90vw;
    }

    .cardLandPage {
        width: 90vw;
    }

    .signUpCard {
        margin: 5rem;
    }

    .card {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }

    .loginCard {
        margin: 6rem 0;
    }

    #profilePic {
        height: 30vh;
        top: 80px;
        left: 100px;
    }

    .profileNav .nav-item {
        margin-left: 0.5rem;
        font-size: 1em;
    }

    .postNameDate {
        font-size: 0.8em;
    }

    .postNameDate h1 {
        font-size: 1.5em;
    }

    .searchProfileButtons {
        margin: 0.5rem 0.7rem;
    }

    .modal-content {
        width: 100%;
    }

    .currentProfilePic {
        width: 23vw;
        height: 15vh;
    }

    .currentCoverPic {
        width: 25vw;
        height: 15vh;
    }

    .previewImages .previewPicture,
    .previewCurrentImages .previewPictureEdit {
        width: 28%;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    #logo {
        height: 6vh;
    }

    a.navSmFont {
        font-size: 2em;
    }

    .landTitle img,
    .landCover img {
        width: 90vw;
    }

    .cardLandPage {
        width: 90vw;
    }

    .signUpCard {
        margin: 4rem;
    }

    .card {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }

    .loginCard {
        margin: 6rem 0;
    }

    #profilePic {
        height: 30vh;
        top: 80px;
        left: 80px;
    }

    .profileNav .nav-item {
        margin-left: 0.3rem;
        font-size: 0.9em;
    }

    .postNameDate {
        font-size: 0.8em;
    }

    .postNameDate h1 {
        font-size: 1.3em;
        overflow-wrap: break-word;
    }

    .searchProfileButtons {
        margin: 0.5rem 0.7rem;
    }

    .modal-content {
        width: 100%;
    }

    .currentProfilePic {
        width: 25vw;
        height: 15vh;
    }

    .currentCoverPic {
        width: 25vw;
        height: 15vh;
    }

    .previewImages .previewPicture,
    .previewCurrentImages .previewPictureEdit {
        width: 25%;
        padding: 0;
    }
}

/* Horizontal width */

@media screen and (min-width: 568px) and (max-width: 569px) {
    #profilePic {
        height: 40vh;
        top: 25px;
        left: 200px;
    }

    .postNameDate {
        font-size: 0.8em;
    }

    .postNameDate h1 {
        font-size: 2em;
    }
}

@media screen and (min-width: 667px) and (max-width: 668px) {
    #profilePic {
        height: 40vh;
        top: 25px;
        left: 250px;
    }

    .postNameDate {
        font-size: 0.8em;
    }

    .postNameDate h1 {
        font-size: 2em;
    }

    .postStatistic {
        font-size: 1em;
    }
}

@media screen and (min-width: 736px) and (max-width: 737px) {
    #profilePic {
        height: 40vh;
        top: 25px;
        left: 270px;
    }

    .postNameDate {
        font-size: 0.8em;
    }

    .postNameDate h1 {
        font-size: 2em;
    }

    .postStatistic {
        font-size: 1em;
    }
}

/* Height */

@media screen and (min-height: 1366px) {
    .landCover {
        margin-top: 12rem;
    }

    .cardLandPage {
        margin-bottom: 10rem;
    }

    .signUpCard {
        margin: 21rem 0;
    }

    .card {
        width: 90vw;
        margin-left: 0;
        margin-right: 0;
    }

    .loginCard {
        margin: 21rem 0;
    }

    .currentProfilePic {
        width: 15vw;
        height: 10vh;
    }

    #profilePic {
        left: 200px;
    }

    .postNameDate h1 {
        font-size: 3em;
        margin-top: 4rem;
    }

    .postNameDate span {
        font-size: 2em;
    }

    .postStatistic {
        font-size: 2em;
    }

    .previewImages .previewPicture,
    .previewCurrentImages .previewPictureEdit {
        width: 30%;
    }
}