{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="row no-gutters">
        <!-- Trips Feed -->
        <div class="col-12">
            <div class="row no-gutters content-alignment">
                <div class="col-12 col-md-10 col-lg-10 col-xl-8 feedProfile">
                    <div class="row no-gutters content-alignment">

                        {% if trips|length %}
                        {% for trip in trips %}
                        {% if trip.trip_privacy != 'Private' %}
                        <!-- Trip Post -->
                        <div class="col-11 tripPostLink">
                            <img class="postBackground img-centered" src="{{ bg_post_url(trip.user, trip._id) }}"
                                alt="">
                            <div class="row no-gutters">
                                {% if trip.user == current_user_id %}
                                <div class="col-10">
                                    <img class="postLinkProfilePic" src="{{ user_photo(trip.user) }}" alt="">
                                </div>
                                {% else %}
                                <div class="col-10">
                                    <a href="{{ url_for('public_profile', trip_user=trip.user) }}"><img class="postLinkProfilePic shadowEffect" src="{{ user_photo(trip.user) }}"
                                            alt=""></a>
                                </div>
                                {% endif %}
                                {% if trip.user == current_user_id %}
                                <!-- Delete trip Button -->
                                <div class="col-1 deleteTrip">
                                    <a id="deleteTripBtn_{{ loop.index }}" class="deletePost"><i
                                            class="fas fa-trash-alt shakeEffect"></i></a>
                                </div>

                                <!-- Edit trip button -->
                                <div class="col-1 editTrip">
                                    <a href="{{ url_for('edit_trip', trip_id=trip._id) }}"><i class="fas fa-pencil-alt shakeEffect"></i></a>
                                </div>
                                {% endif %}

                            </div>

                            <div class="row no-gutters postNameDate">
                                <div class="col-12 text-center">
                                    <a href="">
                                        <h1 class="shadowEffect">{{ trip['trip_name']|title }}</h1>
                                        <div>
                                            <span id="startDate">{{ trip['trip_startdate'].strftime('%Y-%m-%d')
                                                }}</span>
                                            <span>to</span> <span id="endDate">{{
                                                trip['trip_end_date'].strftime('%Y-%m-%d')
                                                }}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="row no-gutters postStatistic">
                                <div class="col-12 text-center">
                                    <div>
                                        <span id="totalDays"><i class="fas fa-calendar-alt"></i> <span>{{
                                                ((trip['trip_end_date'] - trip['trip_startdate']).days)|string + '
                                                days'
                                                }}</span></span>
                                        <span id="totalPhotos"><i class="fas fa-images"></i> <span>{{
                                                no_files(trip.user, trip._id) }}</span></span>
                                    </div>
                                </div>
                            </div>

                            <!-- The delete trip confirmation modal -->
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <div id="deleteTripModal_{{ loop.index }}" class="modal deleteTripModal">

                                        <!-- Modal content -->
                                        <div class="modal-content">
                                            <div class="row no-gutters">
                                                <div class="col-2 ml-auto">
                                                    <span class="close closeDeleteConfirm">&times;</span>
                                                </div>

                                                <!-- Confirmation message -->
                                                <div class="col-12">
                                                    <div class="row no-gutters">
                                                        <div class="col-12">
                                                            <h2 class="text-center">You are going to delete this
                                                                trip! Are you sure?</h2>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="row no-gutters content-alignment deleteBtnModal">
                                                        <div class="col-2 content-alignment">
                                                            <a class="btn btn-primary closeDeleteConfirm">Cancel</a>
                                                        </div>
                                                        <div class="col-2 content-alignment">
                                                            <a class="btn btn-danger"
                                                                href="{{ url_for('delete_trip', trip_id=trip._id) }}">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <!-- Likes Button -->
                            <div class="row no-gutters postLikes">
                                <div class="col-12 text-center">
                                    <a href="{{ url_for('likes', trip_id=trip._id) }}" class="like"
                                        data-trip="{{ trip._id }}">
                                        <i id="{{ 'like_icon_%s' % trip._id }}" class="fas fa-heart shakeEffect"></i>
                                    </a>
                                    <span name="like_count" id="{{'like_count_%s' % trip._id}}">{{
                                        trip.trip_likes|length }}</span>
                                </div>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <h1>NO TRIPS TO SHOW</h1>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}