{% extends "base.html" %}
{% block content %}

<div class="content-wrapper">
    <!-- Cover and Profile picture  -->
    <div class="row no-gutters">
        <div class="col-12 profilePics">
            <img class="profileCover img-centered" src="{{ cover_pic(session.user) }}" alt="">
            <img id="profilePic" src="{{ profile_pic(session.user) }}" alt="">
            <div class="profileName">
                <h2>{{ full_name }}</h2>
            </div>
        </div>
    </div>

    <!-- Profile navbar -->
    <div class="row no-gutters">
        <div class="col-12">
            <nav class="navbar navbar-expand content-alignment profileNav">
                <div id="navbarTogglerDemo01">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link profileNavItem">Trips</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link profileNavItem">Followers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link profileNavItem">Following</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link profileNavItem">Statistics</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- Trips feed -->
    <div class="row no-gutters profileFeed tripsprofileFeed">

        <!-- Search Bar -->
        <form class="content-alignment profileSearchForm">
            <div class="row no-gutters">

                <!-- Search Bar -->
                <div class="col-11 col-md-6 col-lg-6 col-xl-6">
                    <input class="searchInput form-control mr-sm-2" type="search" placeholder="Search"
                        aria-label="Search">
                </div>

                <!-- Search Reset Button -->
                <div class="col-2 col-md-2 col-lg-2 col-xl-2 searchProfileButtons">
                    <a href="{{ url_for('profile') }}" class="btn btn-outline-danger my-sm-0">Reset</a>
                </div>

                <!-- Search Button -->
                <div class="col-2 col-md-2 col-lg-2 col-xl-2 searchProfileButtons resetSearchProfile">
                    <button type="submit" class="btn btn-outline-primary my-sm-0">Search</button>
                </div>
            </div>
        </form>

        <!-- Add new trip button -->
        <div class="col-12 content-alignment">
            <a id="TripBtn" class="btn btn-outline-primary addTripBtn">New Trip <i class="fas fa-plus"></i></a>
        </div>

        <!-- Trips Profile Feed -->
        <div class="col-12">
            <div class="row no-gutters content-alignment">

                <!-- Pagination links top -->
                <div class="col-12 pagination paginationTop content-alignment">
                    {% if page != 1 %}
                    <a class="page-link" href="{{ prev_pag }}">&laquo;</a>
                    {% endif %}
                    {% set count = namespace(value=0) %}
                    {% for pageNum in range(num_pages) %}
                    <a class="pageLink page-link" data-page='{{ page }}'
                        href="{{ pag_link('profile', none, limit, count.value, loop.index) }}">{{loop.index }}</a>
                    {% set count.value = count.value + 5 %}
                    {% endfor %}
                    {% if num_pages != page %}
                    <a class="page-link" href="{{ next_pag }}">&raquo;</a>
                    {% endif %}
                </div>

                <div class="col-12 col-md-10 col-lg-10 col-xl-8 feedProfile">
                    <div class="row no-gutters content-alignment">
                        {% if user_trips|length %}
                        {% for trip in trips %}
                        {% if trip.user == current_user_id %}
                        <!-- Trip Post -->
                        <div class="col-11 tripPostLink">
                            <img class="postBackground img-centered" src="{{ bg_post_url(trip.user, trip._id) }}"
                                alt="">
                            <div class="row no-gutters">
                                <div class="col-8 col-md-10">
                                    <img class="postLinkProfilePic" src="{{ profile_pic(trip.user) }}" alt="">
                                </div>

                                <!-- Delete trip button -->
                                <div class="col-2 col-md-1 deleteTrip">
                                    <a id="deleteTripBtn_{{ loop.index }}" class="deletePost"><i
                                            class="fas fa-trash-alt shakeEffect"></i></a>
                                </div>

                                <!-- Edit trip button -->
                                <div class="col-2 col-md-1 editTrip">
                                    <a href="{{ url_for('edit_trip', trip_id=trip._id) }}"><i
                                            class="fas fa-pencil-alt shakeEffect"></i></a>
                                </div>

                            </div>

                            <div class="row no-gutters postNameDate">
                                <div class="col-12 text-center">
                                    <a href="{{ url_for('trip', trip_id=trip._id) }}">
                                        <h1 class="shadowEffect">{{ trip['trip_name']|title }}</h1>
                                        <div>
                                            <span id="startDate">{{ trip['trip_startdate'].strftime('%Y-%m-%d')
                                                }}</span>
                                            <span>to</span> <span id="endDate">{{
                                                trip['trip_end_date'].strftime('%Y-%m-%d')
                                                }}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="row no-gutters postStatistic">
                                <div class="col-12 text-center">
                                    <div>
                                        <span id="totalDays"><i class="fas fa-calendar-alt"></i> <span>{{
                                                ((trip['trip_end_date'] - trip['trip_startdate']).days)|string + '
                                                days'
                                                }}</span></span>
                                        <span id="totalPhotos"><i class="fas fa-images"></i> <span>{{
                                                no_files(trip.user, trip._id) }}</span></span>
                                    </div>
                                </div>

                                <!-- The delete trip confirmation modal -->
                                <div class="row no-gutters">
                                    <div class="col-12">
                                        <div id="deleteTripModal_{{ loop.index }}" class="modal deleteTripModal">

                                            <!-- Modal content -->
                                            <div class="modal-content">
                                                <div class="row no-gutters">
                                                    <div class="col-2 ml-auto">
                                                        <span class="close closeDeleteConfirm">&times;</span>
                                                    </div>

                                                    <!-- Confirmation message -->
                                                    <div class="col-12">
                                                        <div class="row no-gutters">
                                                            <div class="col-12">
                                                                <h2 class="text-center">You are going to delete this
                                                                    trip! Are you sure?</h2>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div class="row no-gutters content-alignment deleteBtnModal">
                                                            <div class="col-4 col-md-2 content-alignment">
                                                                <a class="btn btn-primary closeDeleteConfirm">Cancel</a>
                                                            </div>
                                                            <div class="col-4 col-md-2 content-alignment">
                                                                <a class="btn btn-danger"
                                                                    href="{{ url_for('delete_trip', trip_id=trip._id) }}">Delete</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Likes Button -->
                            <div class="row no-gutters postLikes">
                                <div class="col-12 text-center">
                                    <a href="{{ url_for('likes', trip_id=trip._id) }}" class="like"
                                        data-trip="{{ trip._id }}">
                                        <i id="{{ 'like_icon_%s' % trip._id }}" class="fas fa-heart shakeEffect"></i>
                                    </a>
                                    <span name="like_count" id="{{'like_count_%s' % trip._id}}">{{
                                        trip.trip_likes|length }}</span>
                                </div>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <h1>NO TRIPS TO SHOW</h1>
                        {% endif %}

                    </div>
                </div>

                <!-- Pagination links bottom -->
                <div class="col-12 pagination paginationBottom content-alignment">
                    {% if page != 1 %}
                    <a class="page-link" href="{{ prev_pag }}">&laquo;</a>
                    {% endif %}
                    {% set count = namespace(value=0) %}
                    {% for pageNum in range(num_pages) %}
                    <a class="pageLink page-link" data-page='{{ page }}'
                        href="{{ pag_link('profile', none, limit, count.value, loop.index) }}">{{
                        loop.index }}</a>
                    {% set count.value = count.value + 5 %}
                    {% endfor %}
                    {% if num_pages != page %}
                    <a class="page-link" href="{{ next_pag }}">&raquo;</a>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="col-12">
            <!-- The add new trip form modal -->
            <div id="addTripFormModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="row no-gutters">
                        <div class="col-2 ml-auto">
                            <span id="addTripClose" class="close">&times;</span>
                        </div>

                        <!-- New Trip Form -->
                        <div class="col-12">
                            <form method="POST" action="{{ url_for('profile') }}" enctype="multipart/form-data">

                                <!-- Trip Category -->
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="trip_category">Trip Category</label>
                                            <select class="form-control selectElNewTrip" id="trip_category"
                                                name="trip_category" required>
                                                <option value="" selected disabled hidden>Choose one trip category
                                                </option>
                                                <option>Travel</option>
                                                <option>Vacation</option>
                                                <option>Short Trip</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- Trip Name -->
                                <div class="form-row newTripForm">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="trip_name">Trip Name</label>
                                            <input type="text" class="form-control" id="trip_name" name="trip_name"
                                                minlength="5" maxlenght="30" placeholder="Holidays in Rome" required>
                                        </div>
                                    </div>
                                </div>

                                <!-- Place Name  and Country -->
                                <div class="form-row">
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <label for="trip_place_name">Place Name</label>
                                            <input type="text" class="form-control" id="trip_place_name"
                                                name="trip_place_name" minlength="5" maxlenght="15" placeholder="Rome"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 col-lg-6 col-xl-6">
                                        <div class="form-group">
                                            <label for="trip_country">Country</label>
                                            <select class="form-control selectElNewTrip" id="trip_country"
                                                name="trip_country" required>
                                                <option value="" selected disabled hidden>Choose one Country</option>
                                                {% for country in countries %}
                                                <option>{{ country['name'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <!-- Trip Description -->
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="trip_description">Trip Description</label>
                                            <textarea class="form-control" name="trip_description" minlength="5"
                                                maxlenght="200" id="trip_description" cols="30" rows="10"
                                                required></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!-- Trip Start and End Date -->
                                <div class="form-row">
                                    <div class="col">
                                        <label for="trip_startdate">Start Date</label>
                                        <input class="form-control" id="trip_startdate" name="trip_startdate"
                                            type="date" required>
                                    </div>

                                    <div class="col">
                                        <label for="trip_end_date">End Date</label>
                                        <input class="form-control" id="trip_end_date" name="trip_end_date" type="date"
                                            required>
                                    </div>
                                </div>

                                <!-- Trip photos -->
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="trip_photos" class="form-label">Add Photos</label>
                                            <input class="form-control selectElNewTrip" type="file" id="trip_photos"
                                                name="trip_photos" accept="image/jpg, image/jpeg, image/png" multiple />
                                            <small>*15 pictures limit per trip</small>
                                            <small> *The first picture will be used as post background</small>
                                        </div>
                                        <div id="newTripPrev" class="previewImages">
                                        </div>
                                    </div>
                                </div>

                                <!-- Trip Privacy -->
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="trip_privacy">Who Can See This Trip?</label>
                                            <select class="form-control selectElNewTrip" id="trip_privacy"
                                                name="trip_privacy" required>
                                                <option selected disabled hidden>Choose one privacy category</option>
                                                <option>Public</option>
                                                <option>Private</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <!-- Submit/reset button add new trip form -->
                                <div class="form-row">
                                    <div class="col content-alignment">
                                        <a href="{{ url_for('profile') }}" type="button"
                                            class="btn btn-danger tripFormBtn tripClearBtn">Clear Form</a>
                                        <button type="submit" class="btn btn-primary tripFormBtn tripAddBtn"
                                            disabled>Add
                                            Trip</button>
                                    </div>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Followers Feed -->
    <div class="row no-gutters profileFeed followersFeed text-center d-none">
        <div class="col-12">
            <h2 class="text-center">Followers</h2>
            <div class="row no-gutters content-alignment">
                <div class="col-8 feedProfile"></div>
            </div>
        </div>
    </div>

    <!-- Following Feed -->
    <div class="row no-gutters profileFeed followingFeed text-center d-none">
        <div class="col-12">
            <h2 class="text-center">Following</h2>
            <div class="row no-gutters content-alignment">
                <div class="col-8 feedProfile"></div>
            </div>
        </div>
    </div>

    <!-- Statistics Feed -->
    <div class="row no-gutters profileFeed statisticsFeed text-center d-none">
        <div class="col-12">
            <h2 class="text-center">Statistics</h2>
            <div class="row no-gutters content-alignment">
                <div class="col-8 feedProfile"></div>
            </div>
        </div>
    </div>

</div>

{% endblock %}