{% extends "base.html" %}
{% block content %}

<!-- Cover and Profile picture  -->
<div class="row no-gutters">
    <div class="col-12 profilePics">
        <img class="profileCover img-centered" src="{{ url_for('static', filename='images/profile_cover.jpg') }}"
            alt="">
        <img id="profilePic" src="{{ url_for('static', filename='images/profile_pic.png') }}" alt="">
        <h2 class="profileName">{{ session.user|title }}</h2>
    </div>
</div>

<!-- Profile navbar -->
<div class="row no-gutters">
    <div class="col-12">
        <nav class="navbar navbar-expand content-alignment profileNav">
            <div id="navbarTogglerDemo01">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Trips</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Followers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Statistics</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>

<!-- Search Bar -->
<div class="row no-gutters">
    <form class="content-alignment profileSearchForm">
        <div class="col-8">
            <input class="searchInput form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
        <div class="col-2">
            <button class="btn btn-outline-danger my-2 my-sm-0" >Reset</button>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-outline-primary my-2 my-sm-0" >Search</button>
        </div>
    </form>
</div>

<div class="row no-gutters content-alignment">
    <div class="col-8 feedProfile"></div>
</div>

<a class="btn btn-outline-primary floating-right-bottom-btn" href="">New Trip <i class="fas fa-plus"></i></a>

{% endblock %}