{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="row no-gutters content-alignment">
        <div class="col-8 tripWrapper">
            <h1 class="text-center">{{trip.trip_name|title}}</h1>
            <div class="row no-gutters">
                <div class="col-12">
                    <h2 id="placeName" class="text-center">{{ '%s - %s' % (trip.trip_place_name|title,
                        trip.trip_country|title ) }}
                    </h2>
                </div>
                <div class="col-12 text-center tripDate">
                    <span>From</span> <span id="startDate">{{ trip['trip_startdate'].strftime('%Y-%m-%d')
                        }}</span>
                    <span>to</span> <span id="endDate">{{
                        trip['trip_end_date'].strftime('%Y-%m-%d')
                        }}</span>
                </div>
                <hr>
            </div>
            <div class="row no-gutters">
                <div class="col-12">
                    <div id="map"></div>
                </div>
                <hr>
            </div>
            <div class="row no-gutters">
                <div class="col-12 text-center">
                    <h3>Description</h3>
                    <div class="row no-gutters">
                        <div class="col-12 content-alignment">
                            <div class="descText">
                                {{trip.trip_description}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div class="row no-gutters">
                <div class="col-12 text-center">
                    <h3>Photos</h3>
                    <div class="row no-gutters content-alignment">
                        <div class="col-11 tripPhotos">
                            <div class="row no-gutters content-alignment">

                                {% for res in resources %}
                                <div class="col-3">
                                    <img class="tripPhoto" src="{{ img_url(res.folder, res.filename) }}" alt="">
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="{{'https://maps.googleapis.com/maps/api/js?key=%s&callback=initMap&libraries=places&v=weekly' % map}}"
    async></script>
{% endblock %}