<!-- Login modal -->
<div class="row no-gutters">
    <div class="col-12">
        <div id="login" class="modal loginModal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="row no-gutters">
                    <div class="col-2 ml-auto">
                        <span class="close closeLogin">&times;</span>
                    </div>

                    <!-- form -->
                    <div class="col-12">
                        <!-- Login Form from bootstrap -->
                        <form id="loginForm" method="POST" action="{{ url_for('login.login') }}">
                            <fieldset class="content-alignment">
                                <div class="card loginCard">

                                    <h3 class="text-center">Login</h3>

                                    <!-- Email Field -->
                                    <div class="row no-gutters content-alignment">
                                        <div class="col-8">
                                            <label for="email">Email</label>
                                            <input type="email" id="emailL" name="emailL" class="form-control"
                                                placeholder="Email" required>
                                        </div>
                                    </div>

                                    <!-- Password field -->
                                    <div class="row no-gutters content-alignment">
                                        <div class="col-8">
                                            <label for="password">Password</label>
                                            <input type="password" id="passwordL" name="passwordL" minlenght="6"
                                                maxlenght="15" pattern="^[a-zA-Z0-9]{6,15}$" class="form-control"
                                                placeholder="Password" required>
                                        </div>
                                    </div>

                                    <!-- LogIn Button -->
                                    <div class="row no-gutters text-center">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary btn-lg registerBtn">Log
                                                In</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>