<!-- Pagination links top -->
<div class="col-12 pagination paginationTop content-alignment">

    <!-- Previous page link -->
    {% if page != 1 %}
    <a class="page-link" href="{{ prev_pag }}" aria-label="Previous page">&laquo;</a>
    {% endif %}

    <!-- Page links -->
    {% set count = namespace(value=0) %}
    {% for pageNum in range(num_pages) %}
    <a class="pageLink page-link" data-page='{{ page }}'
        href="{{ pag_link(pag_name, sec_arg, limit, count.value, loop.index) }}" aria-label="Page {{ page }}">{{loop.index }}</a>
    {% set count.value = count.value + offset_sum %}
    {% endfor %}

    <!-- Next page link -->
    {% if num_pages != page %}
    <a class="page-link" href="{{ next_pag }}" aria-label="Next Page">&raquo;</a>
    {% endif %}
</div>