<!-- The delete trip confirmation modal -->
<div class="row no-gutters">
    <div class="col-12">
        <div id="deleteTripModal_{{ trip._id }}" class="modal deleteTripModal">

            <!-- Modal content -->
            <div class="modal-content">
                <div class="row no-gutters">
                    <div class="col-2 ml-auto">
                        <span class="close closeDeleteConfirm">&times;</span>
                    </div>

                    <!-- Confirmation message -->
                    <div class="col-12">
                        <div class="row no-gutters">
                            <div class="col-12">
                                <h2 class="text-center">You are going to delete this
                                    trip! Are you sure?</h2>
                            </div>
                        </div>
                        <hr>
                        <div class="row no-gutters content-alignment deleteBtnModal">
                            <div class="col-2 content-alignment">
                                <a class="btn btn-primary closeDeleteConfirm">Cancel</a>
                            </div>
                            <div class="col-2 content-alignment">
                                <a class="btn btn-danger"
                                    href="{{ url_for('delete_trip.delete_trip', trip_id=trip._id) }}">Delete</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>