{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">

    <form method="POST" action="{{ url_for('edit_profile.edit_profile') }}" enctype="multipart/form-data">
        <fieldset class="content-alignment">
            <div class="card editCard">
                <div class="text-center">
                    <legend>Edit Profile</legend>
                </div>

                <!-- First Name Field -->
                <div class="row no-gutters content-alignment">
                    <div class="col-8">
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="fname" minlength="3" maxlength="15"
                            pattern="^[a-zA-Z0-9]{3,15}$" class="form-control"
                            value="{{ current_user.fname|title }}" required>
                    </div>
                </div>

                <!-- Last Name Field -->
                <div class="row no-gutters content-alignment">
                    <div class="col-8">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lname" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="form-control"
                            value="{{ current_user.lname|title }}" required>
                    </div>
                </div>

                <!-- Profile Photo -->
                <div class="row no-gutters content-alignment newProfile">
                    <div class="col-12 col-lg-2 col-xl-2 content-alignment">
                        <img class="currentProfilePic" src="{{ profile_pic(session.user) }}" alt="Current avatar picture">
                    </div>
                    <div class="col-8 col-lg-6 col-xl-6">
                        <label for="profile_photo" class="form-label">New Profile Picture</label>
                        <input class="form-control" type="file" id="profile_photo" name="profile_photo"
                            class="newProfileCover" accept="image/jpg, image/jpeg, image/png" />
                    </div>
                </div>

                <!-- New Cover Picture -->
                <div class="row no-gutters content-alignment newCover">
                    <div class="col-12 col-lg-2 col-xl-2 content-alignment">
                        <img class="currentCoverPic" src="{{ cover_pic(session.user) }}" alt=" current cover picture">
                    </div>
                    <div class="col-8 col-lg-6 col-xl-6">
                        <label for="cover_photo" class="form-label">New Cover Picture</label>
                        <input class="form-control" type="file" id="cover_photo" name="cover_photo"
                            class="newProfileCover" accept="image/jpg, image/jpeg, image/png" />
                    </div>
                </div>

                <!-- Register Button -->
                <div class="row no-gutters text-center">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-lg registerBtn">Update Profile</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}