{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="row no-gutters">
        <!-- Trips Feed -->
        <div class="col-12">
            <div class="row no-gutters content-alignment">

                {% if session.user == Undefined %}
                <!-- Jumbotron from bootstrap -->
                <div class="jumbotron text-center">
                    <h1 class="display-4">Say Hello to a Borderless World!</h1>
                    <p>Come on board and discover more about the Borderless platform.</p>
                    <a class="btn btn-primary btn-lg" href="{{ url_for('about.about') }}" role="button" aria-label="Go to About page">Discover
                        more</a>
                </div>
                {% endif %}

                <!-- Feed Title -->
                <div class="col-12">
                    <h1 class="text-center feedTitle">Trips Feed</h1>
                    <hr>
                </div>

                <!-- Search Bar -->
                {% include "partials/_searchbar.html" %}

                <!-- Pagination links top -->
                {% include "partials/_pagination_top.html" %}

                <div class="col-12 col-md-10 col-lg-10 col-xl-8 feedProfile">
                    <div class="row no-gutters content-alignment">

                        {% if trips|length %}
                        {% for trip in trips %}
                        {% if trip.trip_privacy != 'Private' %}

                        <!-- Trip Post -->
                        {% include "partials/_post.html" %}

                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <h1>NO TRIPS TO SHOW</h1>
                        {% endif %}

                    </div>
                </div>

                <!-- Pagination links bottom -->
                {% include "partials/_pagination_bottom.html" %}

            </div>
        </div>
    </div>
</div>

<!-- signUp modal -->
{% include "partials/_signup_modal.html" %}

<!-- Login modal -->
{% include "partials/_login_modal.html" %}

{% endblock %}